<!DOCTYPE html >
<html >
<title > W3.CSS Template</title >
<meta charset="UTF-8" >
<meta name="viewport" content="width=device-width, initial-scale=1" >
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" >
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
<link rel=" stylesheet" href=" index.css" >
<style >
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif
}

navigation
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
        background-color: #04AA6D;
        color: black;
    }

</style >
<body class="w3-light-grey w3-content" style="max-width:1600px" >
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-dark-grey w3-animate-left" style="z-index:3;width:300px;" id="mySidebar" >
<br >
<div class="w3-container" >
<a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu" >
<i class="fa fa-remove" > </i >
</a >
<img src="image/gambar saya.jpg" style="width:70%;" class="w3-round" > <br > <br >
<h4 > <b > PORTFOLIO</b > </h4 >
</div >
<div class="w3-bar-block" >
<a href="#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal" > <i class="fa fa-th-large fa-fw w3-margin-right" > </i > PROFILE PICTURE</a >
<a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding" > <i class="fa fa-envelope fa-fw w3-margin-right" > </i > CONTACT</a >
</div >

<a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding" > <i class="fa fa-envelope fa-fw w3-margin-right" > </i > ACADEMIC INFO</a >
</nav >
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay" > </div >
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px" >
<!-- Header -->
<header id="portfolio" >
<a href="#" > <img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity" > </a >
<span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()" > <i class="fa fa-bars" > </i > </span >
<div class="w3-container" >
<div class="w3-section w3-bottombar w3-padding-16" >
<div class="topnav" >
<a class="active" href="index.html" > Home</a >
<a href="_Gallery.html" > Gallery</a >
<a href="about_us.html" > About </a >

</div >
</div >
</div >
</header >
<br >
<!-- profile picture-- >
<div class="w3-row-padding" >
<div class="w3-third w3-container w3-margin-bottom" >
<img src="image/1.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity" >
</div >
<div class="w3-third w3-container w3-margin-bottom" >
<img src="image/2.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity" >
</div >
</div >
<!-- Contact Section -->
<div class="w3-container w3-padding-large w3-grey" >
<h4 id="contact" > <b > MY INFORMATION</b > </h4 >


<hr class="w3-opacity" >
<form action="/action_page.php" target="_blank" >
<div class="w3-section" >
<label > HOME ADDRESS</label > <br >
<label class=" w3-border" > PT KAMPUNG LALANG LUAS JALAN JOH, 18500, MACHANG KELANTAN.</label >
</div >
<div class="w3-section" >
<label > PHONE NUMBER</label > <br >
<label class=" w3-border" > 016-806 7830.</label >
</div >
<div class="w3-section" >
<label > EMAIL</label > <br >
<label class=" w3-border" > 22021113389@student.uitm.edu.my.</label >
</div >

</form >
</div > <br >
<!-- Academic info-- >
<div class="w3-twothird" >

<div class="w3-container w3-card w3-white w3-margin-bottom" >
<h2 class="w3-text-grey w3-padding-16" > <i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal" > </i > Education</h2 >
<div class="w3-container" >
<h5 class="w3-opacity" > <b > UITM KUALA TERENGGANU KAMPUS CHENDERING</b > </h5 >
<h6 class="w3-text-teal" > <i class="fa fa-calendar fa-fw w3-margin-right" > </i > 2021 - <span class="w3-tag w3-teal w3-round" > Current</span > </h6 >
<p > Bachelor of Computer Science (Honours)</p >
<p > Latest CGPA: 2.76</p > <br >
<hr >
</div >
<div class="w3-container" >
<h5 class="w3-opacity" > <b > UITM KELANTAN KAMPUS MACHANG</b > </h5 >
<h6 class="w3-text-teal" > <i class="fa fa-calendar fa-fw w3-margin-right" > </i > 2018 - 2021</h6 >
<p > Diploma in Computer Science </p >
<p > CGPA: 3.10</p > <br >
<hr >
</div >
<div class="w3-container" >
<h5 class="w3-opacity" > <b > SMK BANDAR MACHANG</b > </h5 >
<h6 class="w3-text-teal" > <i class="fa fa-calendar fa-fw w3-margin-right" > </i > 2013 - 2017</h6 >
<p > SPM Result: 2A </p > <br >
</div >
<div class="w3-container" >
<h5 class="w3-opacity" > <b > SK SUNGAI BAGAN</b > </h5 >
<h6 class="w3-text-teal" > <i class="fa fa-calendar fa-fw w3-margin-right" > </i > 2005 - 2012</h6 >
<p > UPSR Result: 2A 3B </p > <br >
</div >
</div >

<div class="w3-container w3-card w3-white" >
<h2 class="w3-text-grey w3-padding-16" > <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal" > </i > Work Experience</h2 >
<div class="w3-container" >
<h5 class="w3-opacity" > <b > JKR TANAH MERAH</b > </h5 >
<h6 class="w3-text-teal" > <i class="fa fa-calendar fa-fw w3-margin-right" > </i > 2020</h6 >
<p > Trinee Place</p >
<hr >
</div >
</div >
</div >
</div >
</div >








<script >
// Script to open and close sidebar
function w3_open() {
    document .getElementById("mySidebar").style.display = "block";
    document .getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document .getElementById("mySidebar").style.display = "none";
    document .getElementById("myOverlay").style.display = "none";
}

</script >

</body >
</html >
